USE [master]
GO

/****** Object:  Database [gestpolleriaBD]    Script Date: 28/04/2026 08:29:44 p. m. ******/
CREATE DATABASE [gestpolleriaBD]
GO

USE [gestpolleriaBD]
GO

CREATE TABLE [dbo].[AjustesInventario](
	[IdAjusteInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[CantidadAjuste] [decimal](12, 2) NOT NULL,
	[Motivo] [nvarchar](300) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAjusteInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasProducto]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasProducto](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [nvarchar](10) NULL,
	[NumeroDocumento] [nvarchar](20) NULL,
	[RazonSocial] [nvarchar](120) NULL,
	[Nombres] [nvarchar](80) NULL,
	[Apellidos] [nvarchar](80) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[EsEmpresa] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosPedido]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosPedido](
	[IdEstadoPedido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insumos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumos](
	[IdInsumo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[IdUnidadMedida] [int] NOT NULL,
	[StockMinimo] [decimal](12, 2) NOT NULL,
	[StockActual] [decimal](12, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesas](
	[IdMesa] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMesa] [int] NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Capacidad] [int] NOT NULL,
	[Activa] [bit] NOT NULL,
	[EstadoActual] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeseroTurnos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeseroTurnos](
	[IdMeseroTurno] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Turno] [nvarchar](50) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMeseroTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeseroZonas]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeseroZonas](
	[IdMeseroZona] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdZona] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMeseroZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[IdTipoPedido] [int] NOT NULL,
	[IdEstadoPedido] [int] NOT NULL,
	[IdMesa] [int] NULL,
	[IdCliente] [int] NULL,
	[IdMesero] [int] NULL,
	[IdRepartidor] [int] NULL,
	[DireccionDelivery] [nvarchar](200) NULL,
	[ReferenciaDireccion] [nvarchar](200) NULL,
	[HoraEstimadaEntrega] [datetime2](7) NULL,
	[Observaciones] [nvarchar](300) NULL,
	[TotalEstimado] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidosDetalle]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosDetalle](
	[IdPedidoDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [decimal](12, 2) NOT NULL,
	[Observacion] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedidoDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoInsumos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoInsumos](
	[IdProductoInsumo] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[Cantidad] [decimal](12, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProductoInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[PrecioVenta] [decimal](12, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
	[EsCombo] [bit] NOT NULL,
	[ParaDelivery] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPedido]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPedido](
	[IdTipoPedido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadesMedida]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadesMedida](
	[IdUnidadMedida] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](40) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUnidadMedida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ClaveHash] [nvarchar](200) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Activo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRoles]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosRoles] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zonas]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[IdZona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](80) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AjustesInventario] ON 

INSERT [dbo].[AjustesInventario] ([IdAjusteInventario], [IdInsumo], [CantidadAjuste], [Motivo], [IdUsuario], [FechaRegistro]) VALUES (1, 3, CAST(8.00 AS Decimal(12, 2)), N'[SEED] Compra inicial de aceite', 1, CAST(N'2026-04-23T16:58:22.6158428' AS DateTime2))
INSERT [dbo].[AjustesInventario] ([IdAjusteInventario], [IdInsumo], [CantidadAjuste], [Motivo], [IdUsuario], [FechaRegistro]) VALUES (2, 2, CAST(15.00 AS Decimal(12, 2)), N'[SEED] Compra inicial de papa', 1, CAST(N'2026-04-23T16:58:22.6188419' AS DateTime2))
INSERT [dbo].[AjustesInventario] ([IdAjusteInventario], [IdInsumo], [CantidadAjuste], [Motivo], [IdUsuario], [FechaRegistro]) VALUES (3, 6, CAST(12.00 AS Decimal(12, 2)), N'[SEED] Reposicion de bebidas', 1, CAST(N'2026-04-23T16:58:22.6208749' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AjustesInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoriasProducto] ON 

INSERT [dbo].[CategoriasProducto] ([IdCategoria], [Nombre], [Activo]) VALUES (1, N'Pollos', 1)
INSERT [dbo].[CategoriasProducto] ([IdCategoria], [Nombre], [Activo]) VALUES (2, N'Bebidas', 1)
INSERT [dbo].[CategoriasProducto] ([IdCategoria], [Nombre], [Activo]) VALUES (3, N'Acompanamientos', 1)
SET IDENTITY_INSERT [dbo].[CategoriasProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [TipoDocumento], [NumeroDocumento], [RazonSocial], [Nombres], [Apellidos], [Direccion], [Telefono], [Email], [EsEmpresa], [Activo]) VALUES (1, N'DNI', N'74581236', N'', N'Carlos Gustavo', N'Molina Zubiri', N'Av. Arequipa 1234, Lima', N'987654321', N'carlos.molina@gmail.com', 0, 1)
INSERT [dbo].[Clientes] ([IdCliente], [TipoDocumento], [NumeroDocumento], [RazonSocial], [Nombres], [Apellidos], [Direccion], [Telefono], [Email], [EsEmpresa], [Activo]) VALUES (2, N'DNI', N'70234589', N'', N'Lucía Fernanda', N'Rojas Paredes', N'Jr. Los Olivos 456, Surco', N'912345678', N'lucia.rojas@hotmail.com', 0, 1)
INSERT [dbo].[Clientes] ([IdCliente], [TipoDocumento], [NumeroDocumento], [RazonSocial], [Nombres], [Apellidos], [Direccion], [Telefono], [Email], [EsEmpresa], [Activo]) VALUES (3, N'RUC', N'20604567891', N'Pollería El Buen Sabor SAC', N'', N'', N'Av. La Marina 2345, San Miguel', N'014567890', N'contacto@buenasabor.com', 1, 0)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadosPedido] ON 

INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [Nombre]) VALUES (1, N'ABIERTO')
INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [Nombre]) VALUES (5, N'ANULADO')
INSERT [dbo].[EstadosPedido] ([IdEstadoPedido], [Nombre]) VALUES (4, N'ENTREGADO')
SET IDENTITY_INSERT [dbo].[EstadosPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Insumos] ON 

INSERT [dbo].[Insumos] ([IdInsumo], [Nombre], [IdUnidadMedida], [StockMinimo], [StockActual], [Activo]) VALUES (1, N'Pollo entero', 1, CAST(8.00 AS Decimal(12, 2)), CAST(31.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Insumos] ([IdInsumo], [Nombre], [IdUnidadMedida], [StockMinimo], [StockActual], [Activo]) VALUES (2, N'Papa amarilla', 2, CAST(12.00 AS Decimal(12, 2)), CAST(56.40 AS Decimal(12, 2)), 1)
INSERT [dbo].[Insumos] ([IdInsumo], [Nombre], [IdUnidadMedida], [StockMinimo], [StockActual], [Activo]) VALUES (3, N'Aceite vegetal', 3, CAST(10.00 AS Decimal(12, 2)), CAST(44.45 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[Insumos] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesas] ON 

INSERT [dbo].[Mesas] ([IdMesa], [NumeroMesa], [Descripcion], [Capacidad], [Activa], [EstadoActual]) VALUES (1, 1, N'Puerta 01', 4, 1, N'LIBRE')
INSERT [dbo].[Mesas] ([IdMesa], [NumeroMesa], [Descripcion], [Capacidad], [Activa], [EstadoActual]) VALUES (2, 2, N'Ventana', 4, 1, N'LIBRE')
INSERT [dbo].[Mesas] ([IdMesa], [NumeroMesa], [Descripcion], [Capacidad], [Activa], [EstadoActual]) VALUES (3, 3, N'Centro', 4, 1, N'LIBRE')
SET IDENTITY_INSERT [dbo].[Mesas] OFF
GO
SET IDENTITY_INSERT [dbo].[MeseroTurnos] ON 

INSERT [dbo].[MeseroTurnos] ([IdMeseroTurno], [IdUsuario], [Turno], [HoraInicio], [HoraFin], [Activo]) VALUES (1, 2, N'MANANA', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time), 1)
INSERT [dbo].[MeseroTurnos] ([IdMeseroTurno], [IdUsuario], [Turno], [HoraInicio], [HoraFin], [Activo]) VALUES (2, 3, N'TARDE', CAST(N'16:00:00' AS Time), CAST(N'23:00:00' AS Time), 1)
INSERT [dbo].[MeseroTurnos] ([IdMeseroTurno], [IdUsuario], [Turno], [HoraInicio], [HoraFin], [Activo]) VALUES (3, 5, N'NOCHE', CAST(N'20:00:00' AS Time), CAST(N'04:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[MeseroTurnos] OFF
GO
SET IDENTITY_INSERT [dbo].[MeseroZonas] ON 

INSERT [dbo].[MeseroZonas] ([IdMeseroZona], [IdUsuario], [IdZona], [Activo]) VALUES (1, 2, 1, 1)
INSERT [dbo].[MeseroZonas] ([IdMeseroZona], [IdUsuario], [IdZona], [Activo]) VALUES (2, 3, 2, 1)
INSERT [dbo].[MeseroZonas] ([IdMeseroZona], [IdUsuario], [IdZona], [Activo]) VALUES (3, 5, 3, 1)
SET IDENTITY_INSERT [dbo].[MeseroZonas] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [FechaHora], [IdTipoPedido], [IdEstadoPedido], [IdMesa], [IdCliente], [IdMesero], [IdRepartidor], [DireccionDelivery], [ReferenciaDireccion], [HoraEstimadaEntrega], [Observaciones], [TotalEstimado]) VALUES (1, CAST(N'2026-04-23T16:33:22.5693599' AS DateTime2), 1, 4, 2, 6, 2, NULL, NULL, NULL, NULL, N'[SEED] Pedido salon abierto mesa 2', CAST(110.00 AS Decimal(12, 2)))
INSERT [dbo].[Pedidos] ([IdPedido], [FechaHora], [IdTipoPedido], [IdEstadoPedido], [IdMesa], [IdCliente], [IdMesero], [IdRepartidor], [DireccionDelivery], [ReferenciaDireccion], [HoraEstimadaEntrega], [Observaciones], [TotalEstimado]) VALUES (2, CAST(N'2026-04-22T16:58:22.5723292' AS DateTime2), 1, 4, 3, 7, 3, NULL, NULL, NULL, NULL, N'[SEED] Pedido salon entregado mesa 3', CAST(63.00 AS Decimal(12, 2)))
INSERT [dbo].[Pedidos] ([IdPedido], [FechaHora], [IdTipoPedido], [IdEstadoPedido], [IdMesa], [IdCliente], [IdMesero], [IdRepartidor], [DireccionDelivery], [ReferenciaDireccion], [HoraEstimadaEntrega], [Observaciones], [TotalEstimado]) VALUES (3, CAST(N'2026-04-23T16:18:22.5733288' AS DateTime2), 2, 4, NULL, 8, 2, 4, N'Av. Industrial 880', N'Porton gris almacenes', CAST(N'2026-04-23T17:33:22.5733288' AS DateTime2), N'[SEED] Pedido delivery en preparacion', CAST(80.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[PedidosDetalle] ON 

INSERT [dbo].[PedidosDetalle] ([IdPedidoDetalle], [IdPedido], [IdProducto], [Cantidad], [Observacion], [Activo]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(12, 2)), N'[SEED] pollo entero mesa 2', 1)
INSERT [dbo].[PedidosDetalle] ([IdPedidoDetalle], [IdPedido], [IdProducto], [Cantidad], [Observacion], [Activo]) VALUES (2, 1, 3, CAST(1.00 AS Decimal(12, 2)), N'[SEED] papas familiares mesa 2', 1)
INSERT [dbo].[PedidosDetalle] ([IdPedidoDetalle], [IdPedido], [IdProducto], [Cantidad], [Observacion], [Activo]) VALUES (3, 1, 4, CAST(2.00 AS Decimal(12, 2)), N'[SEED] bebida mesa 2', 1)
SET IDENTITY_INSERT [dbo].[PedidosDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductoInsumos] ON 

INSERT [dbo].[ProductoInsumos] ([IdProductoInsumo], [IdProducto], [IdInsumo], [Cantidad], [Activo]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[ProductoInsumos] ([IdProductoInsumo], [IdProducto], [IdInsumo], [Cantidad], [Activo]) VALUES (2, 1, 7, CAST(0.50 AS Decimal(12, 2)), 1)
INSERT [dbo].[ProductoInsumos] ([IdProductoInsumo], [IdProducto], [IdInsumo], [Cantidad], [Activo]) VALUES (3, 1, 8, CAST(0.15 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[ProductoInsumos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Nombre], [IdCategoria], [PrecioVenta], [Activo], [EsCombo], [ParaDelivery]) VALUES (1, N'Pollo a la brasa entero', 1, CAST(68.00 AS Decimal(12, 2)), 1, 0, 1)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [IdCategoria], [PrecioVenta], [Activo], [EsCombo], [ParaDelivery]) VALUES (2, N'1/2 Pollo a la brasa', 1, CAST(39.00 AS Decimal(12, 2)), 1, 0, 1)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [IdCategoria], [PrecioVenta], [Activo], [EsCombo], [ParaDelivery]) VALUES (3, N'Papas fritas familiares', 3, CAST(18.00 AS Decimal(12, 2)), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Nombre], [Activo]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Roles] ([IdRol], [Nombre], [Activo]) VALUES (2, N'Mesero', 1)
INSERT [dbo].[Roles] ([IdRol], [Nombre], [Activo]) VALUES (3, N'Administrador', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposPedido] ON 

INSERT [dbo].[TiposPedido] ([IdTipoPedido], [Nombre]) VALUES (2, N'DELIVERY')
INSERT [dbo].[TiposPedido] ([IdTipoPedido], [Nombre]) VALUES (3, N'LLEVAR')
INSERT [dbo].[TiposPedido] ([IdTipoPedido], [Nombre]) VALUES (1, N'SALON')
SET IDENTITY_INSERT [dbo].[TiposPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[UnidadesMedida] ON 

INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [Nombre], [Activo]) VALUES (1, N'Unidad', 1)
INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [Nombre], [Activo]) VALUES (2, N'Kg', 1)
INSERT [dbo].[UnidadesMedida] ([IdUnidadMedida], [Nombre], [Activo]) VALUES (3, N'Litro', 1)
SET IDENTITY_INSERT [dbo].[UnidadesMedida] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [UserName], [ClaveHash], [NombreCompleto], [Email], [Telefono], [Activo], [FechaRegistro]) VALUES (1, N'admin', N'admin123', N'Administrador Principal', NULL, NULL, 1, CAST(N'2026-04-23T16:49:56.5204377' AS DateTime2))
INSERT [dbo].[Usuarios] ([IdUsuario], [UserName], [ClaveHash], [NombreCompleto], [Email], [Telefono], [Activo], [FechaRegistro]) VALUES (2, N'mesero1', N'mesero123', N'Juan Perez', NULL, NULL, 1, CAST(N'2026-04-23T16:49:56.5204377' AS DateTime2))
INSERT [dbo].[Usuarios] ([IdUsuario], [UserName], [ClaveHash], [NombreCompleto], [Email], [Telefono], [Activo], [FechaRegistro]) VALUES (3, N'mesero2', N'mesero123', N'Luis Ramirez', N'mesero2@polleria.local', N'999111222', 1, CAST(N'2026-04-23T16:58:22.4907766' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
INSERT [dbo].[UsuariosRoles] ([IdUsuario], [IdRol]) VALUES (1, 1)
INSERT [dbo].[UsuariosRoles] ([IdUsuario], [IdRol]) VALUES (2, 2)
INSERT [dbo].[UsuariosRoles] ([IdUsuario], [IdRol]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Zonas] ON 

INSERT [dbo].[Zonas] ([IdZona], [Nombre], [Activo]) VALUES (1, N'SALON A', 1)
INSERT [dbo].[Zonas] ([IdZona], [Nombre], [Activo]) VALUES (2, N'SALON B', 1)
INSERT [dbo].[Zonas] ([IdZona], [Nombre], [Activo]) VALUES (3, N'TERRAZA', 1)
SET IDENTITY_INSERT [dbo].[Zonas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__75E3EFCF00F5C8AE]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[CategoriasProducto] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EstadosPedido_Nombre]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[EstadosPedido] ADD  CONSTRAINT [UQ_EstadosPedido_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Mesas_NumeroMesa]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[Mesas] ADD  CONSTRAINT [UQ_Mesas_NumeroMesa] UNIQUE NONCLUSTERED 
(
	[NumeroMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MeseroZonas]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[MeseroZonas] ADD  CONSTRAINT [UQ_MeseroZonas] UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC,
	[IdZona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ProductoInsumos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[ProductoInsumos] ADD  CONSTRAINT [UQ_ProductoInsumos] UNIQUE NONCLUSTERED 
(
	[IdProducto] ASC,
	[IdInsumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TiposPedido_Nombre]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[TiposPedido] ADD  CONSTRAINT [UQ_TiposPedido_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Unidades__75E3EFCFC391BE9A]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[UnidadesMedida] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__C9F284567841E7B5]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Zonas__75E3EFCF990265CC]    Script Date: 28/04/2026 08:29:44 p. m. ******/
ALTER TABLE [dbo].[Zonas] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AjustesInventario] ADD  CONSTRAINT [DF_AjustesInventario_FechaRegistro]  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CategoriasProducto] ADD  CONSTRAINT [DF_CategoriasProducto_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [EsEmpresa]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Insumos] ADD  CONSTRAINT [DF_Insumos_StockMinimo]  DEFAULT ((0)) FOR [StockMinimo]
GO
ALTER TABLE [dbo].[Insumos] ADD  CONSTRAINT [DF_Insumos_StockActual]  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[Insumos] ADD  CONSTRAINT [DF_Insumos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Mesas] ADD  DEFAULT ((2)) FOR [Capacidad]
GO
ALTER TABLE [dbo].[Mesas] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Mesas] ADD  CONSTRAINT [DF_Mesas_EstadoActual]  DEFAULT ('LIBRE') FOR [EstadoActual]
GO
ALTER TABLE [dbo].[MeseroTurnos] ADD  CONSTRAINT [DF_MeseroTurnos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MeseroZonas] ADD  CONSTRAINT [DF_MeseroZonas_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (sysdatetime()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [TotalEstimado]
GO
ALTER TABLE [dbo].[PedidosDetalle] ADD  CONSTRAINT [DF_PedidosDetalle_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProductoInsumos] ADD  CONSTRAINT [DF_ProductoInsumos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_PrecioVenta]  DEFAULT ((0)) FOR [PrecioVenta]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_EsCombo]  DEFAULT ((0)) FOR [EsCombo]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_ParaDelivery]  DEFAULT ((1)) FOR [ParaDelivery]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UnidadesMedida] ADD  CONSTRAINT [DF_UnidadesMedida_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Zonas] ADD  CONSTRAINT [DF_Zonas_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[AjustesInventario]  WITH CHECK ADD  CONSTRAINT [FK_AjustesInventario_Insumos] FOREIGN KEY([IdInsumo])
REFERENCES [dbo].[Insumos] ([IdInsumo])
GO
ALTER TABLE [dbo].[AjustesInventario] CHECK CONSTRAINT [FK_AjustesInventario_Insumos]
GO
ALTER TABLE [dbo].[AjustesInventario]  WITH CHECK ADD  CONSTRAINT [FK_AjustesInventario_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[AjustesInventario] CHECK CONSTRAINT [FK_AjustesInventario_Usuarios]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [FK_Insumos_UnidadesMedida] FOREIGN KEY([IdUnidadMedida])
REFERENCES [dbo].[UnidadesMedida] ([IdUnidadMedida])
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [FK_Insumos_UnidadesMedida]
GO
ALTER TABLE [dbo].[MeseroTurnos]  WITH CHECK ADD  CONSTRAINT [FK_MeseroTurnos_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[MeseroTurnos] CHECK CONSTRAINT [FK_MeseroTurnos_Usuarios]
GO
ALTER TABLE [dbo].[MeseroZonas]  WITH CHECK ADD  CONSTRAINT [FK_MeseroZonas_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[MeseroZonas] CHECK CONSTRAINT [FK_MeseroZonas_Usuarios]
GO
ALTER TABLE [dbo].[MeseroZonas]  WITH CHECK ADD  CONSTRAINT [FK_MeseroZonas_Zonas] FOREIGN KEY([IdZona])
REFERENCES [dbo].[Zonas] ([IdZona])
GO
ALTER TABLE [dbo].[MeseroZonas] CHECK CONSTRAINT [FK_MeseroZonas_Zonas]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdEstadoPedido])
REFERENCES [dbo].[EstadosPedido] ([IdEstadoPedido])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdMesa])
REFERENCES [dbo].[Mesas] ([IdMesa])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdMesero])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdRepartidor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdTipoPedido])
REFERENCES [dbo].[TiposPedido] ([IdTipoPedido])
GO
ALTER TABLE [dbo].[PedidosDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedidosDetalle_Pedidos] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[PedidosDetalle] CHECK CONSTRAINT [FK_PedidosDetalle_Pedidos]
GO
ALTER TABLE [dbo].[PedidosDetalle]  WITH CHECK ADD  CONSTRAINT [FK_PedidosDetalle_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[PedidosDetalle] CHECK CONSTRAINT [FK_PedidosDetalle_Productos]
GO
ALTER TABLE [dbo].[ProductoInsumos]  WITH CHECK ADD  CONSTRAINT [FK_ProductoInsumos_Insumos] FOREIGN KEY([IdInsumo])
REFERENCES [dbo].[Insumos] ([IdInsumo])
GO
ALTER TABLE [dbo].[ProductoInsumos] CHECK CONSTRAINT [FK_ProductoInsumos_Insumos]
GO
ALTER TABLE [dbo].[ProductoInsumos]  WITH CHECK ADD  CONSTRAINT [FK_ProductoInsumos_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[ProductoInsumos] CHECK CONSTRAINT [FK_ProductoInsumos_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriasProducto] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Roles]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Usuarios]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [CK_Insumos_StockActual] CHECK  (([StockActual]>=(0)))
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [CK_Insumos_StockActual]
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD  CONSTRAINT [CK_Insumos_StockMinimo] CHECK  (([StockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Insumos] CHECK CONSTRAINT [CK_Insumos_StockMinimo]
GO
ALTER TABLE [dbo].[Mesas]  WITH CHECK ADD  CONSTRAINT [CK_Mesas_Capacidad_Positive] CHECK  (([Capacidad]>(0)))
GO
ALTER TABLE [dbo].[Mesas] CHECK CONSTRAINT [CK_Mesas_Capacidad_Positive]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [CK_Pedidos_TotalEstimado_NonNegative] CHECK  (([TotalEstimado]>=(0)))
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [CK_Pedidos_TotalEstimado_NonNegative]
GO
ALTER TABLE [dbo].[PedidosDetalle]  WITH CHECK ADD  CONSTRAINT [CK_PedidosDetalle_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[PedidosDetalle] CHECK CONSTRAINT [CK_PedidosDetalle_Cantidad]
GO
ALTER TABLE [dbo].[ProductoInsumos]  WITH CHECK ADD  CONSTRAINT [CK_ProductoInsumos_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[ProductoInsumos] CHECK CONSTRAINT [CK_ProductoInsumos_Cantidad]
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Activar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[usp_Clientes_Activar]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Clientes
    SET Activo = 1
    WHERE IdCliente = @IdCliente;

    IF @@ROWCOUNT = 0
    SELECT 'El cliente no existe' AS Mensaje;
ELSE
    SELECT 'Cliente activado correctamente' AS Mensaje;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Actualizar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[usp_Clientes_Actualizar]
    @IdCliente INT,
    @TipoDocumento NVARCHAR(10),
    @NumeroDocumento NVARCHAR(20),
    @RazonSocial NVARCHAR(120),
    @Nombres NVARCHAR(80),
    @Apellidos NVARCHAR(80),
    @Direccion NVARCHAR(200),
    @Telefono NVARCHAR(20),
    @Email NVARCHAR(100),
    @EsEmpresa BIT,

    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Clientes
        SET TipoDocumento = @TipoDocumento,
            NumeroDocumento = @NumeroDocumento,
            RazonSocial = @RazonSocial,
            Nombres = @Nombres,
            Apellidos = @Apellidos,
            Direccion = @Direccion,
            Telefono = @Telefono,
            Email = @Email,
            EsEmpresa = @EsEmpresa
        WHERE IdCliente = @IdCliente;

        SET @Ok = 1;
        SET @Mensaje = 'Cliente actualizado correctamente';
    END TRY
    BEGIN CATCH
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Desactivar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[usp_Clientes_Desactivar]
    @IdCliente INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Clientes
    SET Activo = 0
    WHERE IdCliente = @IdCliente;

    IF @@ROWCOUNT = 0
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'El cliente no existe';
        RETURN;
    END

    SET @Ok = 1;
    SET @Mensaje = 'Cliente desactivado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Eliminar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[usp_Clientes_Eliminar]
    @IdCliente INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM dbo.Clientes
        WHERE IdCliente = @IdCliente;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El cliente no existe';
            RETURN;
        END

        SET @Ok = 1;
        SET @Mensaje = 'Cliente eliminado correctamente';
    END TRY
    BEGIN CATCH
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Insertar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[usp_Clientes_Insertar]
    @TipoDocumento NVARCHAR(10),
    @NumeroDocumento NVARCHAR(20),
    @RazonSocial NVARCHAR(120),
    @Nombres NVARCHAR(80),
    @Apellidos NVARCHAR(80),
    @Direccion NVARCHAR(200),
    @Telefono NVARCHAR(20),
    @Email NVARCHAR(100),
    @EsEmpresa BIT,

    @IdClienteNuevo INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT dbo.Clientes
        (TipoDocumento, NumeroDocumento, RazonSocial, Nombres, Apellidos,
         Direccion, Telefono, Email, EsEmpresa)
        VALUES
        (@TipoDocumento, @NumeroDocumento, @RazonSocial, @Nombres, @Apellidos,
         @Direccion, @Telefono, @Email, @EsEmpresa);

        SET @IdClienteNuevo = SCOPE_IDENTITY();
        SET @Ok = 1;
        SET @Mensaje = 'Cliente registrado correctamente';
    END TRY
    BEGIN CATCH
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
        SET @IdClienteNuevo = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Listar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Clientes_Listar]
    @SoloActivos BIT = 1,
    @EsEmpresa BIT = NULL,
    @Buscar NVARCHAR(120) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        IdCliente,
        TipoDocumento,
        NumeroDocumento,
        RazonSocial,
        Nombres,
        Apellidos,
        Direccion,
        Telefono,
        Email,
        EsEmpresa,
        Activo
    FROM dbo.Clientes
    WHERE
        (@SoloActivos = 0 OR Activo = 1)
        AND (@EsEmpresa IS NULL OR EsEmpresa = @EsEmpresa)
        AND (
            @Buscar IS NULL
            OR RazonSocial LIKE '%' + @Buscar + '%'
            OR Nombres LIKE '%' + @Buscar + '%'
            OR Apellidos LIKE '%' + @Buscar + '%'
            OR NumeroDocumento LIKE '%' + @Buscar + '%'
            OR Telefono LIKE '%' + @Buscar + '%'
            OR Email LIKE '%' + @Buscar + '%'
        )
    ORDER BY IdCliente DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Obtener]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROC [dbo].[usp_Clientes_Obtener]
    @IdCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.Clientes
    WHERE IdCliente = @IdCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_Actualizar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_Actualizar]
    @IdInsumo INT,
    @Nombre NVARCHAR(120),
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(12,2),
    @StockActual DECIMAL(12,2),
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Insumos
        SET Nombre = @Nombre,
            IdUnidadMedida = @IdUnidadMedida,
            StockMinimo = @StockMinimo,
            StockActual = @StockActual
        WHERE IdInsumo = @IdInsumo;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El insumo no existe';
            RETURN;
        END

        SET @Ok = 1;
        SET @Mensaje = 'Insumo actualizado correctamente';
    END TRY
    BEGIN CATCH
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_AjustarStock]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_AjustarStock]
    @IdInsumo INT,
    @CantidadAjuste DECIMAL(12,2),
    @Motivo NVARCHAR(300),
    @IdUsuario INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM dbo.Insumos WHERE IdInsumo = @IdInsumo)
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El insumo no existe';
            ROLLBACK TRAN;
            RETURN;
        END

        UPDATE dbo.Insumos
        SET StockActual = StockActual + @CantidadAjuste
        WHERE IdInsumo = @IdInsumo;

        IF EXISTS (SELECT 1 FROM dbo.Insumos WHERE IdInsumo = @IdInsumo AND StockActual < 0)
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El ajuste deja el stock en negativo';
            ROLLBACK TRAN;
            RETURN;
        END

        INSERT INTO dbo.AjustesInventario(IdInsumo, CantidadAjuste, Motivo, IdUsuario)
        VALUES (@IdInsumo, @CantidadAjuste, @Motivo, @IdUsuario);

        COMMIT TRAN;
        SET @Ok = 1;
        SET @Mensaje = 'Stock ajustado correctamente';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_Alertas]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_Alertas]
    @Porcentaje DECIMAL(5,2) = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.IdInsumo,
        i.Nombre AS Insumo,
        i.StockActual,
        i.StockMinimo,
        CASE
            WHEN i.StockActual <= (i.StockMinimo * (@Porcentaje / 100.0)) THEN 'CRITICO'
            WHEN i.StockActual <= i.StockMinimo THEN 'BAJO'
            ELSE 'OK'
        END AS EstadoStock
    FROM dbo.Insumos i
    WHERE i.Activo = 1
      AND i.StockActual <= i.StockMinimo
    ORDER BY i.StockActual ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_Desactivar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_Desactivar]
    @IdInsumo INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Insumos
    SET Activo = 0
    WHERE IdInsumo = @IdInsumo;

    IF @@ROWCOUNT = 0
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'El insumo no existe';
        RETURN;
    END

    SET @Ok = 1;
    SET @Mensaje = 'Insumo desactivado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_Insertar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_Insertar]
    @Nombre NVARCHAR(120),
    @IdUnidadMedida INT,
    @StockMinimo DECIMAL(12,2),
    @StockActual DECIMAL(12,2),
    @IdInsumoNuevo INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.Insumos(Nombre, IdUnidadMedida, StockMinimo, StockActual)
        VALUES (@Nombre, @IdUnidadMedida, @StockMinimo, @StockActual);

        SET @IdInsumoNuevo = SCOPE_IDENTITY();
        SET @Ok = 1;
        SET @Mensaje = 'Insumo registrado correctamente';
    END TRY
    BEGIN CATCH
        SET @IdInsumoNuevo = 0;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_Listar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_Listar]
    @SoloActivos BIT = 1,
    @Buscar NVARCHAR(120) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdInsumo, Nombre, IdUnidadMedida, StockMinimo, StockActual, Activo
    FROM dbo.Insumos
    WHERE (@SoloActivos = 0 OR Activo = 1)
      AND (@Buscar IS NULL OR Nombre LIKE '%' + @Buscar + '%')
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_Obtener]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_Obtener]
    @IdInsumo INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdInsumo, Nombre, IdUnidadMedida, StockMinimo, StockActual, Activo
    FROM dbo.Insumos
    WHERE IdInsumo = @IdInsumo;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Insumos_ReporteStock]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Insumos_ReporteStock]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        i.IdInsumo,
        i.Nombre AS Insumo,
        i.StockActual,
        i.StockMinimo,
        CASE
            WHEN i.StockActual <= 0 THEN 'SIN STOCK'
            WHEN i.StockActual <= i.StockMinimo THEN 'BAJO'
            ELSE 'OK'
        END AS EstadoStock
    FROM dbo.Insumos i
    WHERE i.Activo = 1
    ORDER BY i.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Mesas_Actualizar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Mesas_Actualizar]
    @IdMesa INT,
    @NumeroMesa INT,
    @Descripcion NVARCHAR(100) = NULL,
    @Capacidad INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE dbo.Mesas
        SET NumeroMesa = @NumeroMesa,
            Descripcion = @Descripcion,
            Capacidad = @Capacidad
        WHERE IdMesa = @IdMesa;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'La mesa no existe';
            RETURN;
        END

        SET @Ok = 1;
        SET @Mensaje = 'Mesa actualizada correctamente';
    END TRY
    BEGIN CATCH
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Mesas_CambiarEstado]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Mesas_CambiarEstado]
    @IdMesa INT,
    @Estado NVARCHAR(20),
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Mesas
    SET EstadoActual = UPPER(@Estado)
    WHERE IdMesa = @IdMesa;

    IF @@ROWCOUNT = 0
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'La mesa no existe';
        RETURN;
    END

    SET @Ok = 1;
    SET @Mensaje = 'Estado de mesa actualizado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Mesas_Desactivar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Mesas_Desactivar]
    @IdMesa INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Mesas
    SET Activa = 0
    WHERE IdMesa = @IdMesa;

    IF @@ROWCOUNT = 0
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'La mesa no existe';
        RETURN;
    END

    SET @Ok = 1;
    SET @Mensaje = 'Mesa desactivada correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Mesas_Insertar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Mesas_Insertar]
    @NumeroMesa INT,
    @Descripcion NVARCHAR(100) = NULL,
    @Capacidad INT,
    @IdMesaNueva INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.Mesas(NumeroMesa, Descripcion, Capacidad, Activa, EstadoActual)
        VALUES (@NumeroMesa, @Descripcion, @Capacidad, 1, 'LIBRE');

        SET @IdMesaNueva = SCOPE_IDENTITY();
        SET @Ok = 1;
        SET @Mensaje = 'Mesa registrada correctamente';
    END TRY
    BEGIN CATCH
        SET @IdMesaNueva = 0;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Mesas_Listar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Mesas_Listar]
    @SoloActivas BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoAbierto INT;
    SELECT TOP 1 @IdEstadoAbierto = IdEstadoPedido
    FROM dbo.EstadosPedido
    WHERE UPPER(Nombre) IN ('ABIERTO', 'REGISTRADO', 'PREPARACION', 'EN PREPARACION');

    SELECT
        m.IdMesa,
        m.NumeroMesa,
        m.Descripcion,
        m.Capacidad,
        m.Activa,
        CASE
            WHEN EXISTS (
                SELECT 1
                FROM dbo.Pedidos p
                WHERE p.IdMesa = m.IdMesa
                  AND p.IdEstadoPedido = ISNULL(@IdEstadoAbierto, p.IdEstadoPedido)
            ) THEN 'OCUPADA'
            ELSE m.EstadoActual
        END AS Estado
    FROM dbo.Mesas m
    WHERE (@SoloActivas = 0 OR m.Activa = 1)
    ORDER BY m.NumeroMesa;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Meseros_AsignarZona]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Meseros_AsignarZona]
    @IdUsuario INT,
    @IdZona INT,
    @IdMeseroZonaNueva INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        IF EXISTS (
            SELECT 1 FROM dbo.MeseroZonas
            WHERE IdUsuario = @IdUsuario AND IdZona = @IdZona
        )
        BEGIN
            UPDATE dbo.MeseroZonas
            SET Activo = 1
            WHERE IdUsuario = @IdUsuario AND IdZona = @IdZona;

            SELECT TOP 1 @IdMeseroZonaNueva = IdMeseroZona
            FROM dbo.MeseroZonas
            WHERE IdUsuario = @IdUsuario AND IdZona = @IdZona
            ORDER BY IdMeseroZona DESC;
        END
        ELSE
        BEGIN
            INSERT INTO dbo.MeseroZonas(IdUsuario, IdZona, Activo)
            VALUES (@IdUsuario, @IdZona, 1);

            SET @IdMeseroZonaNueva = SCOPE_IDENTITY();
        END

        SET @Ok = 1;
        SET @Mensaje = 'Zona asignada correctamente';
    END TRY
    BEGIN CATCH
        SET @IdMeseroZonaNueva = 0;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Meseros_Insertar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Meseros_Insertar]
    @UserName NVARCHAR(50),
    @ClaveHash NVARCHAR(200),
    @NombreCompleto NVARCHAR(100),
    @Email NVARCHAR(100) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @IdUsuarioNuevo INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @IdRolMesero INT;

        SELECT TOP 1 @IdRolMesero = IdRol FROM dbo.Roles WHERE UPPER(Nombre) = 'MESERO';

        IF @IdRolMesero IS NULL
        BEGIN
            INSERT INTO dbo.Roles(Nombre, Activo) VALUES ('Mesero', 1);
            SET @IdRolMesero = SCOPE_IDENTITY();
        END

        INSERT INTO dbo.Usuarios(UserName, ClaveHash, NombreCompleto, Email, Telefono, Activo)
        VALUES (@UserName, @ClaveHash, @NombreCompleto, @Email, @Telefono, 1);

        SET @IdUsuarioNuevo = SCOPE_IDENTITY();

        IF NOT EXISTS (
            SELECT 1 FROM dbo.UsuariosRoles
            WHERE IdUsuario = @IdUsuarioNuevo AND IdRol = @IdRolMesero
        )
        BEGIN
            INSERT INTO dbo.UsuariosRoles(IdUsuario, IdRol)
            VALUES (@IdUsuarioNuevo, @IdRolMesero);
        END

        SET @Ok = 1;
        SET @Mensaje = 'Mesero registrado correctamente';
    END TRY
    BEGIN CATCH
        SET @IdUsuarioNuevo = 0;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Meseros_Listar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Meseros_Listar]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.IdUsuario,
        u.UserName,
        u.NombreCompleto,
        u.Activo,
        r.Nombre AS Rol,
        t.Turno,
        z.Nombre AS Zona
    FROM dbo.Usuarios u
    INNER JOIN dbo.UsuariosRoles ur ON ur.IdUsuario = u.IdUsuario
    INNER JOIN dbo.Roles r ON r.IdRol = ur.IdRol AND UPPER(r.Nombre) = 'MESERO'
    OUTER APPLY (
        SELECT TOP 1 mt.Turno
        FROM dbo.MeseroTurnos mt
        WHERE mt.IdUsuario = u.IdUsuario AND mt.Activo = 1
        ORDER BY mt.IdMeseroTurno DESC
    ) t
    OUTER APPLY (
        SELECT TOP 1 zz.Nombre
        FROM dbo.MeseroZonas mz
        INNER JOIN dbo.Zonas zz ON zz.IdZona = mz.IdZona
        WHERE mz.IdUsuario = u.IdUsuario AND mz.Activo = 1
        ORDER BY mz.IdMeseroZona DESC
    ) z
    ORDER BY u.NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Meseros_ListarTurnos]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Meseros_ListarTurnos]
    @IdUsuario INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdMeseroTurno, IdUsuario, Turno, HoraInicio, HoraFin, Activo
    FROM dbo.MeseroTurnos
    WHERE (@IdUsuario IS NULL OR IdUsuario = @IdUsuario)
    ORDER BY IdMeseroTurno DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Meseros_ListarZonas]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Meseros_ListarZonas]
    @IdUsuario INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT mz.IdMeseroZona, mz.IdUsuario, mz.IdZona, z.Nombre AS Zona, mz.Activo
    FROM dbo.MeseroZonas mz
    INNER JOIN dbo.Zonas z ON z.IdZona = mz.IdZona
    WHERE (@IdUsuario IS NULL OR mz.IdUsuario = @IdUsuario)
    ORDER BY mz.IdMeseroZona DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Meseros_RegistrarTurno]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Meseros_RegistrarTurno]
    @IdUsuario INT,
    @Turno NVARCHAR(50),
    @HoraInicio TIME,
    @HoraFin TIME,
    @IdMeseroTurnoNuevo INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.MeseroTurnos(IdUsuario, Turno, HoraInicio, HoraFin, Activo)
        VALUES (@IdUsuario, @Turno, @HoraInicio, @HoraFin, 1);

        SET @IdMeseroTurnoNuevo = SCOPE_IDENTITY();
        SET @Ok = 1;
        SET @Mensaje = 'Turno registrado correctamente';
    END TRY
    BEGIN CATCH
        SET @IdMeseroTurnoNuevo = 0;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Pedidos_AbrirMesa]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   PROC [dbo].[usp_Pedidos_AbrirMesa]
    @IdMesa INT,
    @IdTipoPedido INT,       -- SALON
    @IdMesero INT = NULL,

    @IdPedidoNuevo INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        -- 1) Validar mesa
        IF NOT EXISTS (SELECT 1 FROM dbo.Mesas WHERE IdMesa = @IdMesa)
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'La mesa no existe';
            SET @IdPedidoNuevo = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- 2) Obtener estado ABIERTO / REGISTRADO
        DECLARE @IdEstadoAbierto INT;

        SELECT TOP 1 @IdEstadoAbierto = IdEstadoPedido
        FROM dbo.EstadosPedido
        WHERE UPPER(Nombre) IN ('ABIERTO','REGISTRADO');

        IF @IdEstadoAbierto IS NULL
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'No existe estado ABIERTO o REGISTRADO en EstadosPedido';
            SET @IdPedidoNuevo = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- 3) Verificar que la mesa no tenga pedido abierto
        IF EXISTS (
            SELECT 1
            FROM dbo.Pedidos
            WHERE IdMesa = @IdMesa
              AND IdEstadoPedido = @IdEstadoAbierto
        )
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'La mesa ya tiene un pedido abierto';
            SET @IdPedidoNuevo = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- 4) Insertar pedido
        INSERT INTO dbo.Pedidos
        (
            FechaHora,
            IdTipoPedido,
            IdEstadoPedido,
            IdMesa,
            IdMesero,
            TotalEstimado
        )
        VALUES
        (
            GETDATE(),
            @IdTipoPedido,
            @IdEstadoAbierto,
            @IdMesa,
            @IdMesero,
            0
        );

        SET @IdPedidoNuevo = SCOPE_IDENTITY();

        COMMIT TRAN;

        SET @Ok = 1;
        SET @Mensaje = 'Mesa abierta y pedido creado correctamente';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
        SET @IdPedidoNuevo = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Pedidos_CambiarEstado]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[usp_Pedidos_CambiarEstado]
    @IdPedido INT,
    @IdEstadoPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Pedidos
    SET IdEstadoPedido = @IdEstadoPedido
    WHERE IdPedido = @IdPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Pedidos_CerrarMesa]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROC [dbo].[usp_Pedidos_CerrarMesa]
    @IdPedido INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoEntregado INT;

    BEGIN TRY
        BEGIN TRAN;

        -- 1) Validar pedido
        IF NOT EXISTS (SELECT 1 FROM dbo.Pedidos WHERE IdPedido = @IdPedido)
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El pedido no existe';
            ROLLBACK TRAN;
            RETURN;
        END

        -- 2) Obtener estado ENTREGADO
        SELECT @IdEstadoEntregado = IdEstadoPedido
        FROM dbo.EstadosPedido
        WHERE Nombre = 'ENTREGADO';

        IF @IdEstadoEntregado IS NULL
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'No existe el estado ENTREGADO';
            ROLLBACK TRAN;
            RETURN;
        END

        -- 3) Validar que tenga detalle
        IF NOT EXISTS (
            SELECT 1 FROM dbo.PedidosDetalle WHERE IdPedido = @IdPedido
        )
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El pedido no tiene productos';
            ROLLBACK TRAN;
            RETURN;
        END

        -- 4) Cerrar pedido (ENTREGADO)
        UPDATE dbo.Pedidos
        SET IdEstadoPedido = @IdEstadoEntregado
        WHERE IdPedido = @IdPedido;

        COMMIT TRAN;

        SET @Ok = 1;
        SET @Mensaje = 'Pedido entregado y mesa cerrada correctamente';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Pedidos_EnviarCocina]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Pedidos_EnviarCocina]
    @IdPedido INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoPreparacion INT;

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM dbo.Pedidos WHERE IdPedido = @IdPedido)
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El pedido no existe';
            ROLLBACK TRAN;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.PedidosDetalle WHERE IdPedido = @IdPedido)
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'El pedido no tiene productos';
            ROLLBACK TRAN;
            RETURN;
        END

        IF EXISTS (
            SELECT 1
            FROM dbo.PedidosDetalle pd
            INNER JOIN dbo.ProductoInsumos pi ON pi.IdProducto = pd.IdProducto AND pi.Activo = 1
            INNER JOIN dbo.Insumos i ON i.IdInsumo = pi.IdInsumo
            WHERE pd.IdPedido = @IdPedido
              AND i.StockActual < (pi.Cantidad * pd.Cantidad)
        )
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'Stock insuficiente para uno o más insumos';
            ROLLBACK TRAN;
            RETURN;
        END

        ;WITH Consumo AS
        (
            SELECT
                pi.IdInsumo,
                SUM(pi.Cantidad * pd.Cantidad) AS CantidadConsumida
            FROM dbo.PedidosDetalle pd
            INNER JOIN dbo.ProductoInsumos pi ON pi.IdProducto = pd.IdProducto AND pi.Activo = 1
            WHERE pd.IdPedido = @IdPedido
            GROUP BY pi.IdInsumo
        )
        UPDATE i
        SET i.StockActual = i.StockActual - c.CantidadConsumida
        FROM dbo.Insumos i
        INNER JOIN Consumo c ON c.IdInsumo = i.IdInsumo;

        SELECT TOP 1 @IdEstadoPreparacion = IdEstadoPedido
        FROM dbo.EstadosPedido
        WHERE UPPER(Nombre) IN ('PREPARACION', 'EN PREPARACION');

        IF @IdEstadoPreparacion IS NULL
        BEGIN
            SET @Ok = 0;
            SET @Mensaje = 'No existe el estado PREPARACION';
            ROLLBACK TRAN;
            RETURN;
        END

        UPDATE dbo.Pedidos
        SET IdEstadoPedido = @IdEstadoPreparacion
        WHERE IdPedido = @IdPedido;

        COMMIT TRAN;

        SET @Ok = 1;
        SET @Mensaje = 'Pedido enviado a cocina y stock descontado correctamente';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Pedidos_Registrar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[usp_Pedidos_Registrar]
    @IdTipoPedido INT,
    @IdEstadoPedido INT,
    @IdMesa INT = NULL,
    @IdCliente INT = NULL,
    @IdMesero INT = NULL,
    @IdRepartidor INT = NULL,
    @DireccionDelivery NVARCHAR(200) = NULL,
    @ReferenciaDireccion NVARCHAR(200) = NULL,
    @HoraEstimadaEntrega DATETIME2 = NULL,
    @Observaciones NVARCHAR(300) = NULL,
    @TotalEstimado DECIMAL(12,2),
    @IdPedido INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Pedidos (
        FechaHora,
        IdTipoPedido,
        IdEstadoPedido,
        IdMesa,
        IdCliente,
        IdMesero,
        IdRepartidor,
        DireccionDelivery,
        ReferenciaDireccion,
        HoraEstimadaEntrega,
        Observaciones,
        TotalEstimado
    )
    VALUES (
        SYSDATETIME(),
        @IdTipoPedido,
        @IdEstadoPedido,
        @IdMesa,
        @IdCliente,
        @IdMesero,
        @IdRepartidor,
        @DireccionDelivery,
        @ReferenciaDireccion,
        @HoraEstimadaEntrega,
        @Observaciones,
        @TotalEstimado
    );

    SET @IdPedido = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PedidosDetalle_Actualizar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_PedidosDetalle_Actualizar]
    @IdPedidoDetalle INT,
    @Cantidad DECIMAL(12,2),
    @Observacion NVARCHAR(200) = NULL,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.PedidosDetalle
    SET Cantidad = @Cantidad,
        Observacion = @Observacion
    WHERE IdPedidoDetalle = @IdPedidoDetalle;

    IF @@ROWCOUNT = 0
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'El detalle no existe';
        RETURN;
    END

    SET @Ok = 1;
    SET @Mensaje = 'Detalle actualizado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PedidosDetalle_Eliminar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_PedidosDetalle_Eliminar]
    @IdPedidoDetalle INT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.PedidosDetalle
    WHERE IdPedidoDetalle = @IdPedidoDetalle;

    IF @@ROWCOUNT = 0
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'El detalle no existe';
        RETURN;
    END

    SET @Ok = 1;
    SET @Mensaje = 'Detalle eliminado correctamente';
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PedidosDetalle_Insertar]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_PedidosDetalle_Insertar]
    @IdPedido INT,
    @IdProducto INT,
    @Cantidad DECIMAL(12,2),
    @Observacion NVARCHAR(200) = NULL,
    @IdPedidoDetalleNuevo INT OUTPUT,
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO dbo.PedidosDetalle(IdPedido, IdProducto, Cantidad, Observacion, Activo)
        VALUES(@IdPedido, @IdProducto, @Cantidad, @Observacion, 1);

        SET @IdPedidoDetalleNuevo = SCOPE_IDENTITY();
        SET @Ok = 1;
        SET @Mensaje = 'Detalle agregado correctamente';
    END TRY
    BEGIN CATCH
        SET @IdPedidoDetalleNuevo = 0;
        SET @Ok = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reportes_DemandaDiaria]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Reportes_DemandaDiaria]
    @Fecha DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(p.FechaHora AS DATE) AS Fecha,
        p.IdMesa,
        m.NumeroMesa,
        COUNT(1) AS CantidadPedidos,
        SUM(p.TotalEstimado) AS TotalEstimado
    FROM dbo.Pedidos p
    LEFT JOIN dbo.Mesas m ON m.IdMesa = p.IdMesa
    WHERE CAST(p.FechaHora AS DATE) = @Fecha
    GROUP BY CAST(p.FechaHora AS DATE), p.IdMesa, m.NumeroMesa
    ORDER BY m.NumeroMesa;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reportes_DemandaRango]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[usp_Reportes_DemandaRango]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(p.FechaHora AS DATE) AS Fecha,
        p.IdMesa,
        m.NumeroMesa,
        COUNT(1) AS CantidadPedidos,
        SUM(p.TotalEstimado) AS TotalEstimado
    FROM dbo.Pedidos p
    LEFT JOIN dbo.Mesas m ON m.IdMesa = p.IdMesa
    WHERE CAST(p.FechaHora AS DATE) BETWEEN @FechaInicio AND @FechaFin
    GROUP BY CAST(p.FechaHora AS DATE), p.IdMesa, m.NumeroMesa
    ORDER BY Fecha, m.NumeroMesa;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Usuarios_Login]    Script Date: 28/04/2026 08:29:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROC [dbo].[usp_Usuarios_Login]
    @UserName NVARCHAR(50),
    @ClaveHash NVARCHAR(200),
    @Ok BIT OUTPUT,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.IdUsuario,
        u.UserName,
        u.NombreCompleto,
        r.Nombre AS Rol
    FROM dbo.Usuarios u
    INNER JOIN dbo.UsuariosRoles ur ON u.IdUsuario = ur.IdUsuario
    INNER JOIN dbo.Roles r ON ur.IdRol = r.IdRol
    WHERE u.UserName = @UserName
      AND u.ClaveHash = @ClaveHash
      AND u.Activo = 1;

    IF @@ROWCOUNT > 0
    BEGIN
        SET @Ok = 1;
        SET @Mensaje = 'Login exitoso';
    END
    ELSE
    BEGIN
        SET @Ok = 0;
        SET @Mensaje = 'Usuario o contrasena incorrectos';
    END
END

GO
USE [master]
GO
